.write-comment {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    margin-top: 20px;
    display: none;
}

.comments {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    margin-top: 20px;

    .user-avatar {
        @include make-xs-column(2);
        @include make-sm-column(2);
        @include make-md-column(2);
        text-align: center;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            vertical-align: middle;
        }
    }
    .comment-info {
        @include make-xs-column(10);
        @include make-sm-column(10);
        @include make-md-column(10);

        margin-bottom: 20px;

        .username {
            @include make-xs-column(12);
            @include make-sm-column(10);
            @include make-md-column(8);
        }
        .comment-time {
            @include make-xs-column(12);
            @include make-sm-column(2);
            @include make-md-column(3);
            text-align: right;
            font-size: 8px;
            padding-top: 6px;
        }
        @media (max-width: $screen-xs-min) {
            .comment-time {
                text-align: left;
            }
        }
        .comment-delete {
            @include make-xs-column(12);
            @include make-sm-column(2);
            @include make-md-column(1);
            text-align: right;
        }
        .comment-delete:hover {
            color: red;
        }
        .text-comment {
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(12);
            text-align: justify;
            padding-top: 25px;
        }
    }
}
